.App {
  text-align: center;
  /* height: 50vh;
  width: 200px; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 6%;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.Header{
  margin: 0;
  padding: 6%;
  width: 100%;
  color: #e86b4c;
}

.list_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 420px;
  overflow: scroll;
}

.button_container {
  margin: 5px;
}

.footer_container {
  display: flex;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 6%;
}

.list_header {
  color: #234650;
  margin-bottom: 3%;
}

.footer_btn {
  text-decoration: none;
  color: #234650
}

.donate_btn {
  text-decoration: none;
  color: #141e24
}

.divider {
  border-style: solid;
  border-color: #234650;
  border-width: .75px;
  width: 95%;
  margin-bottom: 3%;
}

.form_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 420px;
  overflow: scroll;
}